@inherits LayoutComponentBase

<div>
    <div>
        <LoginDisplay />
        <NavMenu />
    </div>

    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>
    <div>
        <Footer />
    </div>
</div>
